@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Data loaded from the Web API:</h2>

<div class="container">
    <div class="row p-1">
        <div class="col-6">
            <ul id="offers"></ul>
        </div>
    </div>
</div>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/offer.js"></script>
